@import "tailwindcss";

:root {
  --primary: #F79B34;
  --secondary: #FDBA36;
  --accent: #F57C2B;
  --foreground: #2A2A2B;
  --background: #F7F8FA;
  --muted: #8E8E8F;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
